.wrapper {
  position: fixed;
  z-index: 9999;
  height: 85%;
  bottom: -85%;
  left: 0;
  right: 0;
  transform: translateY(-2.75em);
  transition: all 250ms;
  composes: on-light from '../../traits/colors.css';
}

.expanded {
  bottom: 0;
  transform: translateY(0);
}

.leaderboards {
  border-top: 2px solid var(--grey);
  composes: p-half from '../../traits/spacing.css';
  position: absolute;
  top: 2.5em;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.description {
  composes: lighter-grey from '../../traits/colors.css';
  composes: scale-xs from '../../traits/type.css';
}

@media (min-width: 50em) {
  .wrapper {
    position: static;
    height: 100%;
    flex: 0 0 33.33%;
    transform: translateY(0);
    transition: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .wrapper .icon {
    display: none;
  }
}
