.solid-secondary {
  border: 3px solid var(--secondary);
  border-radius: 3px;
}

.logo-drop {
  border: 1px solid var(--light);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.solid-light {
  border: 2px solid var(--light);
}
