.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.tertiary {
  color: var(--tertiary);
}

.light {
  color: var(--light);
}

.dark {
  color: var(--dark);
}

.grey {
  color: var(--grey);
}

.on-primary {
  background-color: var(--primary);
}

.on-secondary {
  background-color: var(--secondary);
}

.on-tertiary {
  background-color: var(--tertiary);
}

.on-light {
  background-color: var(--light);
}

.on-dark {
  background-color: var(--dark);
}

.on-grey {
  background-color: var(--grey);
}

.border-primary {
  border-color: var(--primary);
}

.border-light {
  border-color: var(--light);
}

.border-dark {
  border-color: var(--dark);
}
