:root {
  --rhythm: 1.5;
}

.mt-n2 {
  margin-top: calc(var(--rhythm) * -2rem);
}

.mx-n1 {
  margin-left: calc(var(--rhythm) * -1rem);
  margin-right: calc(var(--rhythm) * -1rem);
}

.mt-n1half {
  margin-top: calc(var(--rhythm) * -1.5rem);
}

.mx-nhalf {
  margin-left: calc(var(--rhythm) * -.5rem);
  margin-right: calc(var(--rhythm) * -.5rem);
}

.ml-quarter {
  margin-left: calc(var(--rhythm) * .25rem);
}

.mb-quarter {
  margin-bottom: calc(var(--rhythm) * .25rem);
}

.mb-half {
  margin-bottom: calc(var(--rhythm) * .5rem);
}

.ml-half {
  margin-left: calc(var(--rhythm) * .5rem);
}

.ml-1 {
  margin-left: calc(var(--rhythm) * 1rem);
}

.mr-half {
  margin-right: calc(var(--rhythm) * .5rem);
}

.mt-quarter {
  margin-top: calc(var(--rhythm) * .25rem);
}

.mt-half {
  margin-top: calc(var(--rhythm) * .5rem);
}

.my-quarter {
  margin-top: calc(var(--rhythm) * .25rem);
  margin-bottom: calc(var(--rhythm) * .25rem);
}

.my-half {
  margin-top: calc(var(--rhythm) * .5rem);
  margin-bottom: calc(var(--rhythm) * .5rem);
}

.my-1 {
  margin-top: calc(var(--rhythm) * 1rem);
  margin-bottom: calc(var(--rhythm) * 1rem);
}

.mt-1 {
  margin-top: calc(var(--rhythm) * 1rem);
}

.mb-1 {
  margin-bottom: calc(var(--rhythm) * 1rem);
}

.mr-1 {
  margin-right: calc(var(--rhythm) * 1rem);
}

.mb-1half {
  margin-bottom: calc(var(--rhythm) * 1.5rem);
}

.mx-quarter {
  margin-left: calc(var(--rhythm) * 0.25rem);
  margin-right: calc(var(--rhythm) * 0.25rem);
}

.mx-half {
  margin-left: calc(var(--rhythm) * 0.5rem);
  margin-right: calc(var(--rhythm) * 0.5rem);
}

.mx-1 {
  margin-left: calc(var(--rhythm) * 1rem);
  margin-right: calc(var(--rhythm) * 1rem);
}

.mb-2 {
  margin-bottom: calc(var(--rhythm) * 2rem);
}

.my-2 {
  margin-top: calc(var(--rhythm) * 2rem);
  margin-bottom: calc(var(--rhythm) * 2rem);
}

.px-contain {
  padding-left: calc(var(--rhythm) * 1rem);
  padding-right: calc(var(--rhythm) * 1rem);
}

@media screen and (min-width: 62.5em) {
  .px-contain {
    padding-left: calc(var(--rhythm) * 2rem);
    padding-right: calc(var(--rhythm) * 2rem);
  }
}

.p-eighth {
  padding: calc(var(--rhythm) * .125rem);
}

.py-eighth {
  padding-top: calc(var(--rhythm) * .125rem);
  padding-bottom: calc(var(--rhythm) * .125rem);
}

.px-eighth {
  padding-left: calc(var(--rhythm) * .125rem);
  padding-right: calc(var(--rhythm) * .125rem);
}

.p-quarter {
  padding: calc(var(--rhythm) * .25rem);
}

.py-quarter {
  padding-top: calc(var(--rhythm) * .25rem);
  padding-bottom: calc(var(--rhythm) * .25rem);
}

.px-quarter {
  padding-left: calc(var(--rhythm) * .25rem);
  padding-right: calc(var(--rhythm) * .25rem);
}

.p-half {
  padding: calc(var(--rhythm) * .5rem);
}

.py-half {
  padding-top: calc(var(--rhythm) * .5rem);
  padding-bottom: calc(var(--rhythm) * .5rem);
}

.px-half {
  padding-left: calc(var(--rhythm) * .5rem);
  padding-right: calc(var(--rhythm) * .5rem);
}

.pb-half {
  padding-bottom: calc(var(--rhythm) * .5rem);
}

.pt-half {
  padding-top: calc(var(--rhythm) * .5rem);
}

.p-1 {
  padding: calc(var(--rhythm) * 1rem);
}

.py-1 {
  padding-top: calc(var(--rhythm) * 1rem);
  padding-bottom: calc(var(--rhythm) * 1rem);
}

.px-1 {
  padding-left: calc(var(--rhythm) * 1rem);
  padding-right: calc(var(--rhythm) * 1rem);
}

.pb-1 {
  padding-bottom: calc(var(--rhythm) * 1rem);
}

.px-1half {
  padding-left: calc(var(--rhythm) * 1.5rem);
  padding-right: calc(var(--rhythm) * 1.5rem);
}

.px-2 {
  padding-left: calc(var(--rhythm) * 2rem);
  padding-right: calc(var(--rhythm) * 2rem);
}

.pt-half {
  padding-top: calc(var(--rhythm) * .5rem);
}

.pt-1 {
  padding-top: calc(var(--rhythm) * 1rem);
}

.pb-1 {
  padding-bottom: calc(var(--rhythm) * 1rem);
}

.pr-half {
  padding-right: calc(var(--rhythm) * .5rem);
}

.pr-1 {
  padding-right: calc(var(--rhythm) * 1rem);
}

.pr-2 {
  padding-right: calc(var(--rhythm) * 2rem);
}

.pt-1half {
  padding-top: calc(var(--rhythm) * 1.5rem);
}

.pt-2 {
  padding-top: calc(var(--rhythm) * 2rem);
}

.pb-2 {
  padding-bottom: calc(var(--rhythm) * 2rem);
}

.py-2 {
  padding-top: calc(var(--rhythm) * 2rem);
  padding-bottom: calc(var(--rhythm) * 2rem);
}

.pt-3 {
  padding-top: calc(var(--rhythm) * 3rem);
}

.pt-4 {
  padding-top: calc(var(--rhythm) * 4rem);
}

.py-3 {
  padding-top: calc(var(--rhythm) * 3rem);
  padding-bottom: calc(var(--rhythm) * 3rem);
}

.container {
  padding-left: calc(var(--rhythm) * 1rem);
  padding-right: calc(var(--rhythm) * 1rem);
}

@media (min-width: 37.5em) {
  .container {
    padding-left: calc(var(--rhythm) * 2rem);
    padding-right: calc(var(--rhythm) * 2rem);
  }
}
