.tabsContent {
  composes: contain contain-md from '../../../traits/layout.css';
  composes: container from '../../../traits/spacing.css';
}

.tabContentInner > div {
  padding-top: calc(var(--rhythm) * 0.5rem);
  padding-bottom: calc(var(--rhythm) * 0.5rem);
}

@media (min-width: 50em) {
  .expand .tabContentInner {
    display: flex;
    align-items: flex-start;
    justifty-content: space-between;
    margin: 0 calc(var(--rhythm) * -1rem);
  }

  .expand .tabContentInner > div {
    padding-left: calc(var(--rhythm) * 1rem);
    padding-right: calc(var(--rhythm) * 1rem);
  }

  .expand.tabCount2 .tabContentInner > div {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .expand.tabCount3 .tabContentInner > div {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }

  .expand .tabContentInner > div:nth-child(2n) {
    background-color: rgba(255, 255, 255, 0.05);
  }
}
