.course {
  position: relative;
  flex: 0 0 100%;
  background-color: #f6f6f6;
}

.map {
  height: 100vh;
}

.exit {
  display: block;
  position: absolute;
  z-index: 2;
  top: 1em;
  left: 1em;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
  composes: primary from '../../traits/colors.css';
  composes: py-eighth px-quarter from '../../traits/spacing.css';
  composes: scale-xs bold smooth from '../../traits/type.css';
}

.exit i {
  margin-right: 0.5em;
  font-size: 0.75em;
}

.placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: #999;
  font-size: 0.75em;
  text-align: center;
}

@media (min-width: 50em) {
  .course {
    position: relative;
    flex: 0 0 66.66%;
  }
}
