.base {
  composes: contain contain-md from '../../traits/layout.css';
  composes: container from '../../traits/spacing.css';
  composes: light from '../../traits/colors.css';
  width: 100%;
  max-width: 60em;
}

.base > svg {
  max-width: 100%;
  width: 100%;
}

.base path,
.base polyline {
  fill: currentColor;
}
