:root {
  --border-width: calc(var(--rhythm) * .25rem);
}

.base {
  composes: primary from '../../traits/colors.css';
  position: absolute;
  border-style: dotted;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.full {
  composes: base;
  left: 0;
  right: 0;
}

.centered {
  composes: base;
  left: 50%;
  transform: translateX(-50%);
}

.left {
  border-left-width: var(--border-width);
}

.right {
  border-right-width: var(--border-width);
}

.bottom {
  border-bottom-width: var(--border-width);
}

.top {
  border-top-width: var(--border-width);
}

.intro {
  composes: centered left;
}

.race,
.reward,
.register {
  composes: centered left;
}

.route,
.cause,
.charityCause,
.charities,
.inspiration {
  composes: centered right;
}

.step,
.stepAlt,
.stepFinal {
  composes: full;
  margin-left: calc(var(--rhythm) * 2rem);
  margin-right: calc(var(--rhythm) * 2rem);
}

.step,
.stepAlt {
  composes: top;
}

.step {
  composes: left;
}

.stepAlt {
  composes: right;
}

.stepFinal {
  composes: bottom;
  margin-right: 50%;
}

.reward {
  bottom: calc(var(--rhythm) * -2rem);
}

.inspiration {
  z-index: -1;
}

.inspiration:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 100%;
  height: calc(var(--border-width) * 2);
  background-color: #fff;
  width: 38vw;
  z-index: 3;
  margin-top: calc(var(--rhythm) * -.25rem);
  margin-left: 0.35rem;
}

.register {
  margin-top: calc(var(--rhythm) * -1rem);
  height: 40%;
}

@media (min-width: 37.5em) {
  .step,
  .stepAlt,
  .stepFinal {
    margin-left: calc(var(--rhythm) * 3rem);
  }
  .step,
  .stepAlt {
    margin-right: calc(var(--rhythm) * 3rem);
  }
}

@media (max-width: 58em) {
  .intro {
    width: 33%;
    left: 33%;
    border-bottom-width: var(--border-width);
  }
}

@media (min-width: 58em) {
  .intro,
  .race,
  .route,
  .cause,
  .charityCause,
  .reward,
  .charities,
  .inspiration {
    width: 55%;
  }
  .race,
  .cause,
  .reward {
    border-bottom-width: var(--border-width);
  }
  .route,
  .reward {
    top: calc(var(--rhythm) * -2rem);
  }
}
