.hero {
  composes: mb-half from '../../traits/spacing.css';
  position: relative;
}

.count {
  composes: x-bold from '../../traits/type.css';
  composes: light from '../../traits/colors.css';
  composes: px-half py-quarter from '../../traits/spacing.css';
  font-size: 5rem;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  line-height: 1;
  position: absolute;
  left: 0;
  top: 0;
}

.heading {
  composes: bold uppercase from '../../traits/type.css';
  composes: primary from '../../traits/colors.css';
}

@media (min-width: 50em) {
  .base {
    display: flex;
    align-items: center;
  }
  .hero,
  .content {
    width: 50%;
  }
  .hero {
    padding-right: calc(var(--rhythm) * .5rem);
  }
  .content {
    padding-left: calc(var(--rhythm) * .5rem);
  }
}
