@font-face {
  font-family: "icons";
  src: url('/components/Icon/icons.eot');
  src: url('/components/Icon/icons.eot?#iefix') format('eot'),
    url('/components/Icon/icons.woff') format('woff'),
    url('/components/Icon/icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.base {
  font-family: "icons";
  font-style: normal;
  text-transform: none;
}

.bike { composes: base; }
.bike:before { content: "\EA01"; }

.close { composes: base; }
.close:before { content: "\EA02"; }

.connect-spinner { composes: base; }
.connect-spinner:before { content: "\EA03"; }

.cycling-bike { composes: base; }
.cycling-bike:before { content: "\EA04"; }

.facebook { composes: base; }
.facebook:before { content: "\EA05"; }

.heart { composes: base; }
.heart:before { content: "\EA06"; }

.instagram { composes: base; }
.instagram:before { content: "\EA07"; }

.map { composes: base; }
.map:before { content: "\EA08"; }

.mountain { composes: base; }
.mountain:before { content: "\EA09"; }

.prize { composes: base; }
.prize:before { content: "\EA0A"; }

.register-tick { composes: base; }
.register-tick:before { content: "\EA0B"; }

.register { composes: base; }
.register:before { content: "\EA0C"; }

.share { composes: base; }
.share:before { content: "\EA0D"; }

.strava-and-mmf { composes: base; }
.strava-and-mmf:before { content: "\EA0E"; }

.thin-close { composes: base; }
.thin-close:before { content: "\EA0F"; }

.twitter { composes: base; }
.twitter:before { content: "\EA10"; }

