.card {
  composes: dark from '../../traits/colors.css';
  composes: scale-sm from '../../traits/type.css';
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image {
  padding: 1.5em;
  flex: 0 0 7em;
}

.image img {
  width: 4em;
  height: 4em;
  border-radius: 2em;
  border: 1px solid var(--dark);
}

.detail {
  padding: 0.75em 1.5em 0.75em 0;
  flex: 1 0 14em;
}

.title {
  composes: bold smooth from '../../traits/type.css';
}

.footer {
  composes: py-quarter from '../../traits/spacing.css';
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.kms {
  font-weight: 700;
}
