.overlay {
  margin: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1002;
  color: white;
}

.content {
  height: 100%;
  overflow: auto;
}

.content * + * { margin-top: 1em; }

.overlay :global(.SearchInput) {
  position: relative;
  clear: both;
  margin-top: 1em;
}

.overlay :global(.SearchInput__input) {
  appearance: none;
  display: block;
  font-family: inherit;
  font-size: inherit;
  padding: 0.75em 3em 0.75em 1em;
  color: inherit;
  border: 0.125em solid;
  background-color: transparent;
  display: block;
  margin: 0;
  border-radius: 0.25em;
  width: 100%;
  box-sizing: border-box;
}

.overlay :global(.SearchInput__input:focus) {
  outline: none;
}
.overlay :global(.SearchInput__icon) {
  position: absolute;
  right: 1em;
  top: 0.75em;
  margin: 0;
}

:global(.Overlay__close) {
  display: none;
}

.close {
  padding: 0.5em 0.75em 0.667em;
  float: right;
  margin-bottom: 1em;
}

.closeText, .closeIcon {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.closeIcon {
  margin-top: 0.25em;
  margin-right: 0.25em;
}

.overlay :global(.SearchInput__progressSpinner) {
  position: absolute;
  right: 2.5em;
  top: 0.75em;
  margin: 0;
}

.overlay :global(.SearchPagination__counter) {
  float: right;
}

.overlay :global(.SearchPagination__button--left),
.overlay :global(.SearchPagination__button--right) {
  appearance: none;
  color: inherit;
  font-size: 0.8em;
  padding: 0.75em 1em;
  border: 0.125em solid;
  background: transparent;
  border-radius: 0.25em;
  margin: 0;
  margin-right: 0.5em;
  cursor: pointer;
}

.overlay :global(.SearchPagination__button--left:hover),
.overlay :global(.SearchPagination__button--right:hover) {
  background: rgba(255, 255, 255, 0.75);
}

.overlay :global(.SearchPagination__button--left:disabled),
.overlay :global(.SearchPagination__button--right:disabled) {
  opacity: 0.5;
  cursor: normal;
}

.overlay :global(.SearchResult) {
  font-size: 0.9em;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
  line-height: 1.4em;
  background-color: whitesmoke;
  border-radius: 0.25em;
  color: grey;
  transform: scale(1);
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.overlay :global(.SearchResult:after) {
  content: '';
  display: block;
  clear: both;
}

.overlay :global(.SearchResult:hover) {
  background-color: white;
  transform: scale(1.1)
}

.overlay :global(.SearchResult + .SearchResult) {
  margin-top: 0.5em;
}

.overlay :global(.SearchResult * + *) {
  margin-top: 0;
}

.overlay :global(.PageSearchResult__avatar) {
  float: left;
  width: 15%;
}

.overlay :global(.PageSearchResult__avatar img) {
  display: block;
  width: 100%;
  border-radius: 100%;
  overflow: hidden;
  border: thin solid lightgrey;
}

.overlay :global(.PageSearchResult__content),
.overlay :global(.PageSearchResult__actions) {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  padding-left: calc(15% + 0.8em);
  box-sizing: border-box;
}

.overlay :global(.PageSearchResult__content) { margin: 0; }
.overlay :global(.PageSearchResult__actions) { margin-top: 0.5em; }

.overlay :global(.PageSearchResult__actions span) {
  font-size: 0.8em;
  padding: 0.25em 0.75em 0.3em;
  display: inline-block;
  vertical-align: top;
  margin-right: 0.125em;
  background: grey;
  color: white;
}

.overlay :global(.PageSearchResult__actions span:first-child) {
  border-radius: 0.25em 0 0 0.25em;
}

.overlay :global(.PageSearchResult__actions span:last-child) {
  border-radius: 0 0.25em 0.25em 0;
}

.overlay :global(.PageSearchResult__header) {
  font-weight: bold;
  margin-bottom: 0.25em;
}
