.base {
  position: relative;
  z-index: 3;
}

.base > * {
  width: 40%;
  max-width: 16rem;
  margin: 0 auto;
  position: relative;
  z-index: 4;
}

.race,
.cause {
  composes: base;
  margin-bottom: calc(var(--rhythm) * -.5rem);
}

.reward {
  composes: base;
}

.race > * {
  transform: translate(-30%, 0);
}

.race > * + * {
  width: 45%;
  transform: translate(30%, -60%);
  z-index: 1;
}

.cause > * {
  width: 45%;
  transform: translate(-30%, 0);
}

.cause > * + * {
  width: 40%;
  transform: translate(30%, -70%);
}

.reward > * {
  width: 45%;
  transform: translate(-25%, 0);
}

.reward > * + * {
  width: 35%;
  transform: translate(60%, -60%);
}

@media (max-width: 58em) {
  .race,
  .reward {
    transform: translateY(10%);
  }
}

@media (min-width: 58em) {
  .race {
    transform: translateX(-15%);
  }
  .cause {
    transform: translateX(15%);
  }
  .reward {
    transform: translateY(15%);
  }
}
