.bar {
  composes: on-light from '../../traits/colors.css';
  composes: py-half px-1 from '../../traits/spacing.css';
  composes: scale-sm bold from '../../traits/type.css';
  position: relative;
  z-index: 2;
  display: flex;
  flex: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.bar a i:first-child {
  margin-right: 0.5em
}

.bar a i:last-child {
  margin-left: 0.5em
}

.top {
  border-bottom: 2px solid var(--grey);
}

.bottom {
  border-top: 2px solid var(--grey);
}
