.root {
  background-size: cover;
}

.container {
  padding: 0;
}

.content {
  composes: on-dark from '../../traits/colors.css';
  composes: py-1 from '../../traits/spacing.css';
  opacity: .95;
}

.heading {
  composes: bold scale-lg uppercase from '../../traits/type.css';
  composes: mb-half from '../../traits/spacing.css';
  composes: light from '../../traits/colors.css';
}

.list {
  composes: primary from '../../traits/colors.css';
}

.item {
  list-style: disc;
  composes: ml-1 from '../../traits/spacing.css';
}

.link {
  composes: bold link from '../../traits/type.css';
}

@media (max-width: 50rem) {
  .root {
    margin-top: calc(var(--rhythm) * 3rem);
    padding-top: 9rem;
    background-position: right top;
  }
  .content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 50rem) {
  .root {
    background-image: none !important;
  }
  .content {
    padding: calc(var(--rhythm) * 1rem);
    height: 100%;
  }
}

@media (min-width: 60rem) {
  .content {
    padding: calc(var(--rhythm) * 2rem);
  }
}
