.base {
  composes: py-2 from '../../traits/spacing.css';
  position: relative;
  min-width: 2em;
  flex-shrink: 1;
}

.socialHeader {
  padding: 0;
  display: flex;
  align-items: center;
}

@media (min-width: 37.5em) {
  .socialHeader {
    padding: 0 1.5rem;
  }
}

.title {
  composes: scale-xxl x-bold from '../../traits/type.css';
}

.social {
  -ms-overflow-style: scrollbar;
  -webkit-overflow-scrolling: touch;
}

:global(.social-slides) {
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 0 1.5rem;
  text-align: center;
  font-size: 0;
  margin: 0 -1.5rem;
}

:global(.social-feed-element) {
  position:relative;
  display: inline-block;
  width: 250px;
  height: 500px;
  vertical-align: top;
  font-size: 14px;
  background-color: #FFF;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
  margin: .75rem;

  & a {
    color: var(--primary);
    text-decoration: none;
  }
}

:global(.media-body) {
  text-align: left;
}

:global(.social-icon) {
  position: absolute;
  top: 200px;
  left: 20px;
  color: #FFF;

  & :global(.fa) {

    justify-content: center;
    align-items: center;
    display: flex;
  }
}

:global(.author-title) {
  white-space: normal;
  padding-bottom: .375rem;
}

:global(.facebook) {
  color: #3B5998;
}

:global(.twitter) {
  color: #55ACEE;
}

:global(.instagram) {
  color: #E4405F;;
}

:global(.fa-facebook) {
  border-radius: 50%;
  padding: 8px;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  background-color: #3B5998;
  font-size: .95rem;
}

:global(.fa-instagram) {
  border-radius: 50%;
  padding: 8px;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  background-color: #E4405F;
  font-size: .95rem;
}

:global(.fa-twitter) {
  border-radius: 50%;
  padding: 8px;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  background-color: #55ACEE;
  font-size: .95rem;
}

:global(.content) {
  margin: 20px;
}

:global(.text-wrapper) {
  padding-bottom: .375rem;
}

:global(.social-image) {
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 0;
  padding-top: 100%;
  text-align: center;

  & :global(.attachment) {
    max-width: 150%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

:global(.social-feed-text) {
  white-space: normal;
}

:global(.post-time) {
  color: #7D7D7D;
  font-size: 12px;
}
