.base {
  position: absolute;
  top: calc(var(--rhythm) * 0.5rem);
  right: calc(var(--rhythm) * 0.5rem);
  height: calc(var(--rhythm) * 1rem);
  line-height: calc(var(--rhythm) * 1rem);
  border-radius: calc(var(--rhythm) * 0.5rem);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  font-size: 0.6rem;
  background-color: rgba(255, 255, 255, 0.9);
  composes: primary from '../../traits/colors.css';
}

.links {
  padding-right: calc(var(--rhythm) * 1rem);
  padding-left: calc(var(--rhythm) * 0.25rem);
}

.links li {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  padding: 0 calc(var(--rhythm) * 0.5rem);
}

.links li:hover {
  color: var(--dark);
}

.facebook {
  border-right: 1px solid var(--lightGrey);
}

.icon {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(var(--rhythm) * 1rem);
  height: calc(var(--rhythm) * 1rem);
  text-align: center;
  border-radius: calc(var(--rhythm) * 0.5rem);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.075);
  composes: primary on-light from '../../traits/colors.css';
}
