.filter {
  padding: calc(var(--rhythm) * 0.5em) 0;
  position: relative;
}

.filterField {
  padding: calc(var(--rhythm) * 0.125em) 0;
  composes: scale-sm from '../../traits/type.css';
  width: 100%;
  padding-left: 2em;
  border-bottom: 2px solid var(--dark);
}

.filterField::-webkit-input-placeholder { color: var(--dark) }
.filterField::-moz-placeholder { color: var(--dark) }
.filterField:-ms-input-placeholder { color: var(--dark) }
.filterField:-moz-placeholder { color: var(--dark) }

.filterIcon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-55%);
}
