.content {
  position: relative;
  z-index: 2;
}

.textContent {
  composes: on-light from '../../traits/colors.css';
}

.home {
  composes: pb-1 from '../../traits/spacing.css';
}

.charity {
  padding-bottom: calc(var(--rhythm) * 2rem);
}

@media (min-width: 58em) {
  .base {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: calc(var(--rhythm) * 2rem);
  }

  .home {
    margin-bottom: calc(var(--rhythm) * 2rem);
  }

  .base > * {
    width: 50%;
  }
}
