.base {
  background-image: url('/layouts/Hero/home-banner.jpg');
  background-size: cover;
  flex-direction: column;
  justify-content: space-between;
}

.charityContainer {
  composes: py-1 from '../../traits/spacing.css';
}

.charityLogoContainer {
  composes: pb-1 pr-1 from '../../traits/spacing.css';
  width: 12rem;
}

.charityLogo {
  display: block;
}

@media (min-width: 37.5em) {
  .charityContainer {
    composes: contain-md from '../../traits/layout.css';
    display: flex;
  }

  .charityLogoContainer {
    composes: container from '../../traits/spacing.css';
    width: auto;
    flex-shrink: 1;
  }

  .charityLogo {
    max-width: 250px; /* IE10 :( */
  }
}
