.base {
  composes: sansserif from '../../traits/type.css';
  background-size: cover;
}

.grey {
  composes: on-grey from '../../traits/colors.css';
}

.primaryDark {
  composes: light on-primary from '../../traits/colors.css';
}

.primaryLight {
  composes: dark on-primary-light from '../../traits/colors.css';
}

@media (min-width: 60em) {
  .base {
    padding: 0;
  }
}
