.base {
  position: relative;
  overflow: hidden;
}

.mapWrapper {
  position: relative;
}

.map {
  display: block;
}

.tracker {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: calc(var(--rhythm) * 12.5rem);
  pointer-events: none;
}

.button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 42rem) {
  .map {
    min-height: calc(var(--rhythm) * 12.5rem);
    width: 100%;
    position: relative;
  }
}

@media (min-width: 42rem) {
  .button {
    left: 33%
  }
  .map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .metrics {
    background-color: rgba(255, 255, 255, 0.75);
    position: relative;
    z-index: 2;
    width: 33%;
  }
}

@media (min-width: 60rem) {
  .mapWrapper {
    max-width: 75em;
    margin-left: auto;
    margin-right: auto;
  }
}

:global(.leaflet-control-container) {
  display: none;
}
