.container {
  composes: py-1 from '../../traits/spacing.css';
}

.tabs {
  & li {
    display: inline-block;
  }
}

.tab {
  composes: bold from '../../traits/type.css';
  composes: px-half from '../../traits/spacing.css';
}

.activeTab {
  composes: primary on-light from '../../traits/colors.css';
  composes: tab;
}

.inactiveTab {
  composes: light from '../../traits/colors.css';
  composes: tab;
}

.prizes {
  composes: dark on-light from '../../traits/colors.css';
  composes: p-half from '../../traits/spacing.css';
}

.subtitle {
  composes: bold uppercase from '../../traits/type.css';
  composes: primary from '../../traits/colors.css';
}

.prize {
  display: flex;
  width: 100%;
  composes: my-quarter from '../../traits/spacing.css';
}

.prize > * {
  padding: calc(var(--rhythm) * .25rem);
}

.place {
  composes: pr-half from '../../traits/spacing.css';
  width: calc(var(--rhythm) * 2rem);
  background-color: color(var(--primary) alpha(-35%));
}

.reward {
  flex-grow: 1;
  background-color: color(var(--primary) alpha(-55%));
}
