.padding-loose   { padding: 3rem; }
.padding-default { padding: 1.5rem; }
.padding-tight   { padding: 0.75rem; }
.padding-none    { padding: 0; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: block;
}

.clearfix:after {
  clear: both;
}
