.button {
  composes: scale-sm from '../../traits/type.css';
  font-weight: 700;
  padding: calc(var(--rhythm) * .25rem);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  opacity: .8;
}

.button:disabled {
  pointer-events: none !important;
  opacity: .5 !important;
}

.button:hover,
.button:focus {
  opacity: 1;
}

.button:active {
  opacity: .6;
}

.primary {
  composes: button;
  color: var(--light);
  background-color: var(--primary);
}

.primaryMap {
  composes: primary;
  display: block;
  padding: calc(var(--rhythm) * .5rem) calc(var(--rhythm) * 1rem);
}

.primaryUpper {
  composes: button;
  color: var(--light);
  background-color: var(--primary);
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.text {
  color: var(--light);
}

.map {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: color(var(--dark) alpha(-80%));
}

@media (min-width: 37.5em) {
  .button {
    padding: calc(var(--rhythm) * .25rem) calc(var(--rhythm) * .5rem);
    font-size: 1em;
  }
}
