.base {
  composes: py-2 from '../../traits/spacing.css';
  composes: light on-dark from '../../traits/colors.css';
  position: relative;
  opacity: .9;
}

.header {
  composes: mb-1 from '../../traits/spacing.css';
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  composes: bold scale-xl from '../../traits/type.css';
}

.link {
  composes: py-half from '../../traits/spacing.css';
  composes: bold scale-md from '../../traits/type.css';
  composes: primary from '../../traits/colors.css';
  display: block;
  cursor: pointer;
}

.link:hover,
.link:focus {
  opacity: .8;
}

.link:active {
  opacity: .6;
}

.link i {
  margin-left: 0.5em;
}

.smallLink {
  composes: link;
}
.largeLink {
  composes: link;
  display: none;
}

@media (min-width: 37.5em) {
  .smallLink {
    display: none;
  }
  .largeLink {
    display: block;
  }
}
