.base {
  padding-top: calc(var(--rhythm) * 2em);
  padding-bottom: calc(var(--rhythm) * 2em);
  color: #fff;
  background-color: #2b2d42;
}

.footerPanel {
  text-align: left;
  margin-top: calc(var(--rhythm) * 2em);
  margin-bottom: calc(var(--rhythm) * 2em);
  text-align: center;
}

.logo {
  padding-bottom: calc(var(--rhythm) * 2em);
  width: 100%;
  max-width: 15em;
  margin: 0 auto;
}

.links {
  font-size: 0.833rem;
}

.link {
  padding-left: calc(var(--rhythm) * 0.25em);
  padding-right: calc(var(--rhythm) * 0.25em);
}

.linkItem {
  opacity: .6;
}

.linkItem:hover,
.linkItem:focus {
  opacity: .9;
}

.socialLinks {
  display: flex;
  justify-content: center;
}

.socialLink i {
  background-color: var(--light);
  color: var(--primary);
  transition: all 250ms linear;
  padding: 10px;
  margin: 0 0.25em;
  width: 42px;
  height: 42px;
  font-size: 1.125rem;
  vertical-align: middle;
}

.socialLink:hover i, .socialLink:focus i {
  background-color: var(--primary);
  color: var(--light);
}

@media (min-width: 40em) {
  .footerPanels {
    display: flex;
    align-items: center;
    margin-left: calc(var(--rhythm) * -1rem);
    margin-right: calc(var(--rhythm) * -1rem);
  }

  .footerPanel {
    width: 33%;
    flex-shrink: 1;
    padding-left: calc(var(--rhythm) * 1rem);
    padding-right: calc(var(--rhythm) * 1rem);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .link {
    display: inline-block;
  }

  .socialLinks {
    justify-content: flex-end;
  }
}
