.base {
  composes: light on-primary from '../../traits/colors.css';
}

.content {
  composes: py-2 from '../../traits/spacing.css';
}

.content > h2 {
  font-weight: 900;
  line-height: 1.1;
  font-size: 1.44rem;
}

.content > p {
  margin-top: calc(var(--rhythm) * .75rem);
}
